Repository facebookincubator/magma, changes with the owners that CODEOWNERS names for each.
All owners: @rdefosse, @119Vik, @tmdzk, @mattymo, @magma/orc8r-approvers, @themarwhal, @ardzoht, @magma/feg-approvers, @magma/approvers-cwf, @emakeev, @uri200, @pshelar, @ssanadhya, @ulaskozat, @lionelgo, @koolzz, @magma/repo-magma-maintain, @AyliD, @aharonnovo, @r-i-g, @karthiksubraveti, @andreilee, @HannaFar, @electronjoe, @amarpad

CODEOWNERS:

.circleci/ @rdefosse @119Vik @tmdzk
circleci/ @rdefosse @tmdzk @mattymo @119Vik

ci-scripts/ @rdefosse @tmdzk @mattymo @119Vik

*/cloud/ @magma/orc8r-approvers
.golangci.yml @magma/orc8r-approvers

orc8r/ @magma/orc8r-approvers
orc8r/tools/packer/ @rdefosse @tmdzk @mattymo @119Vik
orc8r/cloud/deploy/bare-metal/ @rdefosse @tmdzk @mattymo @119Vik
orc8r/cloud/deploy/bare-metal-ansible/ @rdefosse @mattymo @119Vik

orc8r/gateway/c/ @themarwhal @ardzoht

feg/ @magma/feg-approvers

cwf/ @magma/approvers-cwf
cwf/gateway/Vagrantfile @rdefosse @mattymo @119Vik @tmdzk

openwrt/ @emakeev @uri200

# More specific mappings for lte/gateway will override this top-level one
lte/gateway @ardzoht @pshelar
lte/gateway/c/session_manager @themarwhal @uri200
lte/gateway/c/oai @ssanadhya @ulaskozat @lionelgo @ardzoht
lte/gateway/c/sctpd @ssanadhya @ulaskozat
lte/gateway/c/connection_tracker @koolzz
lte/gateway/docker @rdefosse @119Vik @tmdzk
lte/gateway/release @rdefosse @119Vik @tmdzk
lte/gateway/python/magma/pipelined @koolzz @pshelar
lte/gateway/python/integ_tests @ssanadhya @ulaskozat @ardzoht
lte/gateway/Vagrantfile @rdefosse @mattymo @119Vik @tmdzk

**/*.pb.go @magma/repo-magma-maintain
**/*_swaggergen.go @magma/repo-magma-maintain

# xwf Magma integrations
xwf/ @AyliD @aharonnovo @r-i-g
feg/radius @AyliD @aharonnovo @r-i-g @magma/approvers-cwf

nms/ @karthiksubraveti @andreilee @HannaFar

docs/readmes/proposals @electronjoe

CODEOWNERS @amarpad @electronjoe

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8r/templates/nginx.deployment.yaml
Owners: @magma/orc8r-approvers

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8r/charts/nms/values.yaml
Owners: @karthiksubraveti, @andreilee, @HannaFar

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8r/values.yaml
Owners: @magma/orc8r-approvers

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8rlib/templates/_deployment.yaml
Owners: @magma/orc8r-approvers

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8rlib/templates/_container.yaml
Owners: @magma/orc8r-approvers

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8rlib/templates/_deployment.yaml
Owners: @magma/orc8r-approvers

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8r/values.yaml
Owners: @magma/orc8r-approvers

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8r/values.yaml
Owners: @magma/orc8r-approvers

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8r/templates/nginx.deployment.yaml
  orc8r/cloud/helm/orc8rlib/templates/_deployment.yaml
Owners: @magma/orc8r-approvers

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8r/values.yaml
Owners: @magma/orc8r-approvers

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8r/templates/nginx.deployment.yaml
Owners: @magma/orc8r-approvers

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8r/values.yaml
Owners: @magma/orc8r-approvers

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8r/charts/nms/templates/magmalte-deployment.yaml
Owners: @karthiksubraveti, @andreilee, @HannaFar

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8r/charts/nms/values.yaml
Owners: @karthiksubraveti, @andreilee, @HannaFar

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8r/values.yaml
Owners: @magma/orc8r-approvers

Signed-off-by: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
  orc8r/cloud/helm/orc8r/charts/nms/templates/magmalte-deployment.yaml
  orc8r/cloud/helm/orc8r/charts/nms/values.yaml
Owners: @karthiksubraveti, @andreilee, @HannaFar

adding new certs on pods. work in progress.
  orc8r/cloud/docker/nginx/generate_nginx_configs.py
  orc8r/cloud/docker/nginx/templates/nginx.conf.j2
  orc8r/cloud/helm/orc8r/charts/nms/templates/etc/_nginx_proxy_ssl.conf.tpl
  orc8r/cloud/helm/orc8r/charts/nms/templates/magmalte-deployment.yaml
  orc8r/cloud/helm/orc8r/charts/nms/templates/nginx-proxy-deployment.yaml
  orc8r/cloud/helm/orc8r/charts/nms/values.yaml
  orc8r/cloud/helm/orc8r/templates/bootstrapper.deployment.yaml
  orc8r/cloud/helm/orc8r/templates/certifier.deployment.yaml
  orc8r/cloud/helm/orc8r/templates/nginx.deployment.yaml
  orc8r/cloud/helm/orc8r/values.yaml
  orc8r/cloud/helm/orc8rlib/templates/_container.yaml
  orc8r/cloud/helm/orc8rlib/templates/_deployment.yaml
Owners: @magma/orc8r-approvers, @karthiksubraveti, @andreilee, @HannaFar

Updated helm chart versions
  orc8r/cloud/helm/orc8r/Chart.lock
  orc8r/cloud/helm/orc8r/Chart.yaml
  orc8r/cloud/helm/orc8r/charts/nms/Chart.yaml
  orc8r/cloud/helm/orc8rlib/Chart.yaml
Owners: @magma/orc8r-approvers, @karthiksubraveti, @andreilee, @HannaFar

[SessionD] Use teid from RuleRecords to look up sessions
  lte/gateway/c/session_manager/LocalEnforcer.cpp
  lte/gateway/c/session_manager/LocalEnforcer.h
  lte/gateway/c/session_manager/LocalSessionManagerHandler.cpp
  lte/gateway/c/session_manager/SessionState.cpp
  lte/gateway/c/session_manager/test/ProtobufCreators.cpp
  lte/gateway/c/session_manager/test/ProtobufCreators.h
  lte/gateway/c/session_manager/test/test_local_enforcer.cpp
  lte/gateway/c/session_manager/test/test_session_manager_handler.cpp
  lte/gateway/c/session_manager/test/test_sessiond_integ.cpp
Owners: @themarwhal, @uri200

Fix yamllint issues
  lte/gateway/deploy/roles/ovs_prepare/tasks/main.yml
  lte/gateway/deploy/roles/ovs_prepare/vars/all.yaml
Owners: @ardzoht, @pshelar

Fix some ansible-lint issues
  lte/gateway/deploy/roles/ovs_prepare/tasks/main.yml
Owners: @ardzoht, @pshelar

Move vars to defaults file
  lte/gateway/deploy/roles/ovs_prepare/defaults/main.yml
  lte/gateway/deploy/roles/ovs_prepare/tasks/main.yml
Owners: @ardzoht, @pshelar

Move packages to default file
  lte/gateway/deploy/roles/ovs_prepare/defaults/main.yml
  lte/gateway/deploy/roles/ovs_prepare/tasks/main.yml
Owners: @ardzoht, @pshelar

Group setup ovs repo instructions
  lte/gateway/deploy/roles/ovs_prepare/tasks/main.yml
Owners: @ardzoht, @pshelar

Move restart sshd task
  lte/gateway/deploy/roles/ovs_prepare/handlers/main.yml
  lte/gateway/deploy/roles/ovs_prepare/tasks/main.yml
Owners: @ardzoht, @pshelar

Restrict tasks to Debian distros
  lte/gateway/deploy/roles/ovs_prepare/tasks/main.yml
Owners: @ardzoht, @pshelar

Add depcomp file checker
  lte/gateway/deploy/roles/ovs_prepare/tasks/main.yml
Owners: @ardzoht, @pshelar

Format install FPM task
  lte/gateway/deploy/roles/ovs_prepare/tasks/main.yml
Owners: @ardzoht, @pshelar

Replace WORK_DIR by build_folder
  lte/gateway/deploy/roles/ovs_prepare/defaults/main.yml
  lte/gateway/deploy/roles/ovs_prepare/tasks/main.yml
Owners: @ardzoht, @pshelar

Drop OUTPUT_DIR usage
  lte/gateway/deploy/roles/ovs_prepare/tasks/main.yml
Owners: @ardzoht, @pshelar

Initial molecule impl
  lte/gateway/deploy/roles/ovs_prepare/molecule/default/converge.yml
  lte/gateway/deploy/roles/ovs_prepare/molecule/default/molecule.yml
Owners: @ardzoht, @pshelar

Add verify tasks into molecule
  lte/gateway/deploy/roles/ovs_prepare/molecule/default/verify.yml
Owners: @ardzoht, @pshelar

Add tox scenario for molecule tests
  test-requirements.txt
  tox.ini
Owners: none

Create GH action to run molecule tests
  .github/workflows/molecule_tests.yml
Owners: none

Created Equipment page and added gateway check in chart to it
  nms/app/packages/magmalte/app/components/feg/FEGSections.js
  nms/app/packages/magmalte/app/components/layout/__tests__/useSections-test.js
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentDashboard.js
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentGateway.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

Total federation gateway count & healthy federation gateway count are also added to the kpi list
  nms/app/packages/magmalte/app/components/GatewayUtils.js
  nms/app/packages/magmalte/app/components/context/FEGGatewayContext.js
  nms/app/packages/magmalte/app/components/feg/FEGContext.js
  nms/app/packages/magmalte/app/state/feg/EquipmentState.js
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentGateway.js
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentGatewayKPIs.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGEquipmentGatewayTest.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

Added Federation Gateway Table & tested it
  nms/app/packages/magmalte/app/components/context/FEGGatewayContext.js
  nms/app/packages/magmalte/app/components/context/RefreshContext.js
  nms/app/packages/magmalte/app/components/feg/FEGContext.js
  nms/app/packages/magmalte/app/state/feg/EquipmentState.js
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentGateway.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayTable.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGEquipmentGatewayTest.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

Rebasing federation gateway cluster branch
  nms/app/packages/magmalte/app/views/equipment/FEGClusterStatus.js
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentGateway.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGEquipmentGatewayTest.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

[mme] refactor: Add status_or return types
  lte/gateway/c/core/oai/common/common_defs.h
  lte/gateway/c/core/oai/include/mme_config.h
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtp_tunnel_libgtpnl.c
  lte/gateway/c/core/oai/tasks/gtpv1-u/gtpv1u_task.c
  lte/gateway/c/core/oai/tasks/mme_app/mme_config.c
  lte/gateway/c/core/oai/tasks/nas/esm/esm_ebr.c
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_decoder.c
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_encoder.c
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_handlers.c
  lte/gateway/c/core/oai/tasks/ngap/ngap_amf_nas_procedures.c
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_handlers.c
  lte/gateway/c/core/oai/tasks/s1ap/s1ap_mme_nas_procedures.c
  lte/gateway/c/core/oai/tasks/s6a/s6a_auth_info.c
  lte/gateway/c/core/oai/tasks/s6a/s6a_cancel_loc.c
  lte/gateway/c/core/oai/tasks/s6a/s6a_up_loc.c
  lte/gateway/c/core/oai/tasks/sctp/sctp_primitives_server.c
  lte/gateway/c/core/oai/tasks/sctp/sctpd_downlink_client.cpp
  lte/gateway/c/core/oai/tasks/sctp/sctpd_downlink_client.h
  lte/gateway/c/core/oai/tasks/sgw/mobilityd_ue_ip_address_alloc.c
  lte/gateway/c/core/oai/tasks/sgw/pgw_config.c
  lte/gateway/c/core/oai/tasks/sgw/pgw_ue_ip_address_alloc.h
  lte/gateway/c/core/oai/tasks/udp/udp_primitives_server.c
Owners: @ardzoht, @pshelar

Total federation gateway count & healthy federation gateway count are also added to the kpi list
  nms/app/packages/magmalte/app/components/GatewayUtils.js
  nms/app/packages/magmalte/app/components/context/FEGGatewayContext.js
  nms/app/packages/magmalte/app/components/feg/FEGContext.js
  nms/app/packages/magmalte/app/state/feg/EquipmentState.js
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentGateway.js
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentGatewayKPIs.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGEquipmentGatewayTest.js
Owners: @karthiksubraveti, @andreilee, @HannaFar
