Repository facebookincubator/magma, changes with the owners that CODEOWNERS names for each.
All owners: @rdefosse, @119Vik, @tmdzk, @mattymo, @magma/orc8r-approvers, @themarwhal, @ardzoht, @magma/feg-approvers, @magma/approvers-cwf, @emakeev, @uri200, @pshelar, @ssanadhya, @ulaskozat, @lionelgo, @koolzz, @magma/repo-magma-maintain, @AyliD, @aharonnovo, @r-i-g, @karthiksubraveti, @andreilee, @HannaFar, @electronjoe, @amarpad

CODEOWNERS:

.circleci/ @rdefosse @119Vik @tmdzk
circleci/ @rdefosse @tmdzk @mattymo @119Vik

ci-scripts/ @rdefosse @tmdzk @mattymo @119Vik

*/cloud/ @magma/orc8r-approvers
.golangci.yml @magma/orc8r-approvers

orc8r/ @magma/orc8r-approvers
orc8r/tools/packer/ @rdefosse @tmdzk @mattymo @119Vik
orc8r/cloud/deploy/bare-metal/ @rdefosse @tmdzk @mattymo @119Vik
orc8r/cloud/deploy/bare-metal-ansible/ @rdefosse @mattymo @119Vik

orc8r/gateway/c/ @themarwhal @ardzoht

feg/ @magma/feg-approvers

cwf/ @magma/approvers-cwf
cwf/gateway/Vagrantfile @rdefosse @mattymo @119Vik @tmdzk

openwrt/ @emakeev @uri200

# More specific mappings for lte/gateway will override this top-level one
lte/gateway @ardzoht @pshelar
lte/gateway/c/session_manager @themarwhal @uri200
lte/gateway/c/oai @ssanadhya @ulaskozat @lionelgo @ardzoht
lte/gateway/c/sctpd @ssanadhya @ulaskozat
lte/gateway/c/connection_tracker @koolzz
lte/gateway/docker @rdefosse @119Vik @tmdzk
lte/gateway/release @rdefosse @119Vik @tmdzk
lte/gateway/python/magma/pipelined @koolzz @pshelar
lte/gateway/python/integ_tests @ssanadhya @ulaskozat @ardzoht
lte/gateway/Vagrantfile @rdefosse @mattymo @119Vik @tmdzk

**/*.pb.go @magma/repo-magma-maintain
**/*_swaggergen.go @magma/repo-magma-maintain

# xwf Magma integrations
xwf/ @AyliD @aharonnovo @r-i-g
feg/radius @AyliD @aharonnovo @r-i-g @magma/approvers-cwf

nms/ @karthiksubraveti @andreilee @HannaFar

docs/readmes/proposals @electronjoe

CODEOWNERS @amarpad @electronjoe

Added Federation Gateway Table & tested it
  nms/app/packages/magmalte/app/components/context/FEGGatewayContext.js
  nms/app/packages/magmalte/app/components/context/RefreshContext.js
  nms/app/packages/magmalte/app/components/feg/FEGContext.js
  nms/app/packages/magmalte/app/state/feg/EquipmentState.js
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentGateway.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayTable.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGEquipmentGatewayTest.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

Rebasing federation gateway cluster branch
  nms/app/packages/magmalte/app/views/equipment/FEGClusterStatus.js
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentGateway.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGEquipmentGatewayTest.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

Added Gateway Detail page which currently displays info about the gateway and events table
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentDashboard.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailMain.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewaySummary.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGGatewaySummaryTest.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

Added Gateway Status & Tested it
  nms/app/packages/magmalte/app/components/GatewayUtils.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailMain.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailStatus.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGGatewayDetailStatusTest.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

Added Gateway Detail subscribers table & tested it
  nms/app/packages/magmalte/app/components/FEGServicingAccessGatewayKPIs.js
  nms/app/packages/magmalte/app/components/context/FEGSubscriberContext.js
  nms/app/packages/magmalte/app/components/context/RefreshContext.js
  nms/app/packages/magmalte/app/components/feg/FEGContext.js
  nms/app/packages/magmalte/app/state/feg/SubscriberState.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailMain.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailStatus.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailSubscribers.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGGatewayDetailSubscribersTest.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

Added Gateway Connection Status & Tested it
  nms/app/packages/fbcnms-magma-api/__generated__/MagmaAPIBindings.js
  nms/app/packages/magmalte/app/components/GatewayUtils.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayConnectionStatus.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailMain.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGGatewayConnectionStatusTest.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

Added Gateway Detail page which currently displays info about the gateway and events table
  nms/app/packages/magmalte/app/views/equipment/FEGEquipmentDashboard.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailMain.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewaySummary.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGGatewaySummaryTest.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

Added Gateway Detail subscribers table & tested it
  nms/app/packages/magmalte/app/components/FEGServicingAccessGatewayKPIs.js
  nms/app/packages/magmalte/app/components/context/FEGSubscriberContext.js
  nms/app/packages/magmalte/app/components/context/RefreshContext.js
  nms/app/packages/magmalte/app/components/feg/FEGContext.js
  nms/app/packages/magmalte/app/state/feg/SubscriberState.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailMain.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailStatus.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailSubscribers.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGGatewayDetailSubscribersTest.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

[ci] Complete migration of cloud tests to github actions
  .circleci/config.yml
Owners: @rdefosse, @119Vik, @tmdzk

Added config page for federation gateway & tested it
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailConfig.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailMain.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGGatewayDetailConfigTest.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

refactor: remove leftover dependency lists and doc refs for Debian Signed-off-by: Waqar Aqeel <waqeel@fb.com>
  docs/readmes/howtos/README_package.md
  lte/gateway/python/setup.py
  lte/gateway/release/magma.lockfile.debian
  orc8r/gateway/python/setup.py
Owners: @ardzoht, @pshelar, @rdefosse, @119Vik, @tmdzk, @magma/orc8r-approvers

refactor: remove `os_release` from setup.py and debian references from build-magma.sh Signed-off-by: Waqar Aqeel <waqeel@fb.com>
  lte/gateway/python/setup.py
  lte/gateway/release/build-magma.sh
  orc8r/gateway/python/setup.py
Owners: @ardzoht, @pshelar, @rdefosse, @119Vik, @tmdzk, @magma/orc8r-approvers

docs: sentence structure
  docs/readmes/howtos/README_package.md
  lte/gateway/python/setup.py
  orc8r/gateway/python/setup.py
Owners: @ardzoht, @pshelar, @magma/orc8r-approvers

chore(agw): remove CLion/CMake gitignore
  .gitignore
Owners: none

feat(orc8r): Add converged core config flags
  lte/cloud/go/protos/mconfig/mconfigs.pb.go
  lte/cloud/go/services/lte/obsidian/models/defaults.go
  lte/cloud/go/services/lte/obsidian/models/gateway_epc_configs_swaggergen.go
  lte/cloud/go/services/lte/obsidian/models/network_epc_configs_swaggergen.go
  lte/cloud/go/services/lte/obsidian/models/swagger.v1.yml
  lte/cloud/go/services/lte/servicers/builder_servicer.go
  lte/gateway/configs/gateway.mconfig
  lte/gateway/configs/templates/mme.conf.template
  lte/gateway/python/scripts/generate_oai_config.py
  lte/protos/mconfig/mconfigs.proto
  orc8r/cloud/go/obsidian/swagger/v1/models/gateway_epc_configs.go
  orc8r/cloud/go/obsidian/swagger/v1/models/network_epc_configs.go
  orc8r/cloud/go/obsidian/swagger/v1/swagger.yml
Owners: @magma/repo-magma-maintain, @magma/orc8r-approvers, @ardzoht, @pshelar

run all CI tests with python formatting changes
  .circleci/config.yml
Owners: @rdefosse, @119Vik, @tmdzk

fix(nms): Fix policy add/edit
  nms/app/packages/magmalte/app/views/traffic/PolicyEdit.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

Add alerts troubleshooting links
  nms/app/packages/magmalte/app/state/AlarmsApiUtil.js
  nms/app/packages/magmalte/data/AlertLinks.json
  nms/app/packages/magmalte/server/app.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

[ci] Complete migration of feg testing jobs to github actions
  .circleci/config.yml
Owners: @rdefosse, @119Vik, @tmdzk

[ci] Complete migration of cwf test job to github action
  .circleci/config.yml
Owners: @rdefosse, @119Vik, @tmdzk

Subscriberdb changes
  lte/cloud/go/protos/subscriberauth.pb.go
  lte/gateway/c/session_manager/StatsPoller.h
  lte/gateway/python/magma/subscriberdb/crypto/milenage.py
  lte/gateway/python/magma/subscriberdb/main.py
  lte/gateway/python/magma/subscriberdb/metrics.py
  lte/gateway/python/magma/subscriberdb/processor.py
  lte/gateway/python/magma/subscriberdb/protocols/m5g_auth_servicer.py
  lte/protos/subscriberauth.proto
Owners: @magma/repo-magma-maintain, @themarwhal, @uri200, @ardzoht, @pshelar

Hooked edit functionality to the feg gateway servers in the config page
  nms/app/packages/magmalte/app/components/feg/FEGGatewayDialog.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailConfig.js
  nms/app/packages/magmalte/app/views/equipment/FEGGatewayDetailConfigEdit.js
  nms/app/packages/magmalte/app/views/equipment/__tests__/FEGGatewayDetailConfigTest.js
Owners: @karthiksubraveti, @andreilee, @HannaFar

[orc8r] Get rid of online upgrade scenario
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/online-upgrade/README.md
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/online-upgrade/legacy.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/online-upgrade/main.tf
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/online-upgrade/scripts/prepare_metrics_instance.sh.tpl
  orc8r/cloud/deploy/terraform/orc8r-helm-aws/examples/online-upgrade/variables.tf
Owners: @magma/orc8r-approvers

refactor: Add cwag GitHub Actions Workflow
  .github/workflows/cwag-workflow.yml
Owners: none
